main {
  min-height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  font-size: 60px;
}

main p {
  font-size: 20px;
}

main nav {
    margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

main nav button {
  background-color: #ffffff2b;
  min-width: 100px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  color:#0e258f ;
  border: 1px solid #667eea;
}
