main#loginForm {
  min-height: auto;
  width: 60vw;
  padding: 20px;
  display: inline-block flex;
  gap: 20px;
  margin: 100px auto auto auto;
  background-color: #dccec4;
  border-radius: 20px;
  color: #764ba2;
}

nav#form-toggle {
  display: flex;
  gap: 0;
  border: 1px solid #764ba2;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
}

nav#form-toggle button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;
  border: none;
}

.active {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitTransparent{
    background: linear-gradient(135deg, #667eea4d 0%, #764ba2 100%);
}

.submit{
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

