table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ffffff30;
  padding: 10px;
}

tr:nth-child(even),
th {
  background-color: #ffffff30;
}

td button {
  background-color: transparent;
  border: none;
}
