.btn {
  background-color: #ffffff30;
  min-width: 70px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  color: #0e258f;
  border: 1px solid #667eea;
  text-decoration: none;
}
